body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    border: 1px solid black;
    border-right: none;
    border-left: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.a:hover {
    color: purple;
    background-color: red;
    margin-top: -2px;
}
.a {
    padding: 7px;
    width: 90px;
    border-right: 1px solid black;
    text-align: center;
}
.a:last-child {
    border-right: none;
}
.flex {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}
img{
    height: 60px;
    width: 60px;
}
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    .flex {
        flex-direction: column;
        margin-bottom: 10px;
    }}
h1 {
    color: black;
    font-size: 30px;
}
.slider{
    width: 1330px;
    height: 578px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 578px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 1330px;
    height: 578px;
}
.nav-manual{
    position: absolute;
    width: 1330px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid cyan;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: red;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
.nav-auto{
    position: absolute;
    display: flex;
    width: 1330px;
    justify-content: center;
    margin-top: 538px;
}
.nav-auto div{
    border: 2px solid cyan;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: red;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: red;
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: red;
}
@media only screen and (max-width: 600px) {
    .slider{width: 590px; height: 578px; display: none; overflow: hidden;}
    .slide image {width: 590px;}
    .slides{width: 590px; height: 578px;}
    .nav-auto{width: 590px;}
    .nav-manual{width: 590px;}
    
}
.borderafterslide {
    border-bottom: 1px solid black;
}
.headquarter{
    display: flex;
    align-items: center;
}
.headquarter-section1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px;
    background-image: url(monas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
}
.headquarter-section2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px;
    background-image: url(singapore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
}
.headquarter-section3 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px;
    background-image: url(tokyo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
}
.headquarter-section-place {
    width: 133px;
    margin-left: 90px;
}
@media only screen and (max-width: 600px) {
    .headquarter-section1 {height: 165px;}
    .headquarter-section2 {height: 165px;}
    .headquarter-section3 {height: 165px;}
    .headquarter-section-place{margin-left: 78px;}
}
.messageus{
    display: flex;
    justify-content: space-between;
}
.mu{
    height: 30px;
    width: 250px;
}
.submit{
    height: 20px;
    width: 400px;
    background-color: aqua;
}
.hasil-data{
    height: 300px;
    width: 400px;
    border: 1px solid black;
    padding: 10px;
}
@media only screen and (max-width:600px) {
    .messageus {flex-direction: column;}
}
